.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
}
  
  .header__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .name{
    font-size: 18px;
  }

  